:root {
    --first-color: #240046;
    --second-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: var(--second-color);
}

nav {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    width: 100%;
    text-align: center;
    color: var(--second-color);
    text-decoration: none;
    font-weight: bold;
}

#menu {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

#menu::before {
    content: '≣';
    color: var(--second-color);
    font-size: 1.6rem;

}

#menu.open::before {
    content: '❌';
    font-size: 1.2rem;
    
}

main {
    display: grid;
    grid-template-rows: auto 1fr;
}

h2 {
    text-align: center;
    padding: 20px;
}

.photos {
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto auto;
    height: auto;
}

.temple-photos {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 5px;
    border-radius: 5px;
}

.temple-photos h3 {
    text-align: center;
    padding: 20px;
    color: var(--second-color);
}

.temple-photos p {
    color: var(--second-color);
    padding: 2px 0;
}

.temple-photos img {
    width: 100%;
    border-radius: 4px;
    margin: 10px 0;
}

figure {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px 20px 10px;
     
}

figure img {
    width: 300px;
    height: 200px;
    
}

figcaption {
    text-align: center;
    border: 1px solid red;   
}

footer {
    background-color: var(--first-color);
    padding: 15px;
    text-align: center;
    color: var(--second-color);
}